.git
.github
.venv
venv
env
ENV

__pycache__
*.py[cod]
*$py.class

.mypy_cache
.pytest_cache
.ruff_cache
.coverage
.coverage.*
htmlcov

.env
.env.*
!.env.example
!.env.test.example

.idea
.vscode
.DS_Store

build
dist
*.egg-info
.eggs
*.egg

*.log
*.pid
*.sqlite
*.sqlite3
*.db

tests
docker-compose*.yml
deploy
